Welcome to the new site

Hi,
The new site is now live!
To access the new site, <%=link_to "please first click this link to reset your password", edit_user_password_url(reset_password_token: @token), html_options = { style: "font-weight: bold" } %>
You have two weeks to reset your password. If you run into any issues, please email them to <a href="mailto:support@example.com">support@example.com</a>. Our Support Team will be happy to help you.
Thank you!
