
    <footer class="text-center text-lg-start text-white" style="background-color: #1c2331">
      <section class="d-flex justify-content-between p-3" style="background-color: #6351ce" >
      <div class="me-5">
        <span style="margin-left: 40px;" >Get connected with us on social networks:</span>
      </div>
      <div>
        <a href="" class="text-white me-4"><i class="fab fa-facebook-f"></i></a> 
        <a href="" class="text-white me-4"><i class="fab fa-google"></i></a>
        <a href="" class="text-white me-4"><i class="fab fa-twitter"></i></a>
        <a href="" class="text-white me-4"><i class="fab fa-instagram"></i></a>
      </div>
      </section>
      <section>
        <div class="container text-center text-md-start mt-5">
          <div class="row">
            <div class="col-6" style="margin-left:20px">
              <h5>About Company</h5>
                <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste atque ea quis
                  molestias. Fugiat pariatur maxime quis culpa corporis vitae repudiandae aliquam
                  voluptatem veniam, est atque cumque eum delectus sint!</p>
            </div>

            <div class="col-4 offset-1">
              <form>
                <h5>Subscribe to our newsletter</h5>
                <p>Monthly digest of whats new and exciting from us.</p>
                <div class="d-flex w-100 gap-2">
                  <label for="newsletter1" class="visually-hidden">Email address</label>
                  <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
                  <button class="btn btn-primary" type="button">Subscribe</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2); margin-top:20px">
          <p>&copy; <%= Date.today.year %> Company, Inc. All rights reserved.</p>
        </div>
      </section>
    </footer>
